.main-app {
  background-color: #EAECA4;
  height: 100%;
  margin: 0;
  padding: 20px;
}

.title {
  text-align: center;
  font-family: serif;
  color: #ec5701;
}

.sub-title {
  color: #b167ee;
  font-family: monospace;
}

.list-title {
  color: #0080e9;
  font-family: system-ui;
}

.add-user-container {
  display: flex;
}

.name {
  font-size: 16px;
  margin-right: 10px;
  padding: 8px 16px 8px 16px;
  border: none;
  border-radius: 5px;
}

.age {
  font-size: 16px;
  margin-right: 10px;
  padding: 8px 16px 8px 16px;
  border: none;
  border-radius: 5px;
}

.school {
  font-size: 16px;
  margin-right: 10px;
  padding: 8px 16px 8px 16px;
  border: none;
  border-radius: 5px;
}

.save-button {
  padding: 0 16px;
  border: none;
  color: #ffffff;
  background-color: #00d0ff;
  font-weight: bold;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.friend-container {
  background-color: white;
  margin: 8px 0;
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
}

.friend-name {
  font-size: 16px;
  color: #429933;
  font-weight: bold;
}

.friend-age {
  font-size: 16px;
  color: #3345a2;
  font-weight: bold;
}

.friend-school {
  font-size: 16px;
  color: tomato;
  font-weight: bold;
}

.friend-delete {
  padding: 4px 8px;
  font-weight: bold;
  color: white;
  background-color: red;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
}

.friend-edit {
  padding: 4px 8px;
  font-weight: bold;
  color: white;
  background-color: #cc00ff;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 12px;
}




.main-app1 {
  background-color: #EAECA4;
  height: 100%;
  margin: 0;
  padding: 20px;
}

.title1 {
  text-align: center;
  font-family: serif;
  color: #660d0d;
}

.sub-title1 {
  color: #450796;
  font-family: monospace;
}

.list-title1 {
  color: #08697a;
  font-family: system-ui;
}

.add-user-container {
  display: flex;
}

.name1 {
  font-size: 16px;
  margin-right: 10px;
  padding: 8px 16px 8px 16px;
  border: none;
  border-radius: 5px;
}

.price {
  font-size: 16px;
  margin-right: 10px;
  padding: 8px 16px 8px 16px;
  border: none;
  border-radius: 5px;
}

.save-button1 {
  padding: 0 16px;
  border: none;
  color: #ffffff;
  background-color: #0087b1;
  font-weight: bold;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.book-container {
  background-color: white;
  margin: 8px 0;
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
}

.book-name {
  font-size: 16px;
  color: #0b3304;
  font-weight: bold;
}

.book-price {
  font-size: 16px;
  color: #66e400;
  font-weight: bold;
}

.book-delete {
  padding: 4px 8px;
  font-weight: bold;
  color: white;
  background-color: rgb(206, 0, 0);
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
}